#!/usr/bin/make -f
# debian/rules for nagios-plugins-hpilo

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=0

pkg = $(shell dpkg-parsechangelog | grep ^Source: | cut -d' ' -f2)
export EFS_VER=$(shell dpkg-parsechangelog | grep ^Version: | cut -d' ' -f2)
export SPECIFIC_LINUX= -DDEBIAN

export RPM_MAKE_ROOT=.
export RPM_BUILD_ROOT=$(CURDIR)/debian/$(pkg)
export RPM_NAME=$(pkg)

DEBUGFLAGS = -O
ifeq ($(shell dpkg --print-architecture),amd64)
  DEBUGFLAGS+= -m32
  LINUX32 = 
else
  LINUX32 = "linux32"
endif

PREFIX ?= /usr/lib/nagios/plugins
DESTDIR = $(RPM_BUILD_ROOT)

PLUGINSDIR=debian/$(pkg)$(PREFIX)
DEB_BUILD_DIR=debian/build
INSTALL=install
DIRINSTALL=install -d

export DEBUGFLAGS

configure: configure-stamp
configure-stamp:
	dh_testdir

	# Move everything to a build directory instead of building it
	# in place - this is a remnent of when we neded to hoist files
	mkdir -p debian/build
	tar -c * --exclude=debian | (cd debian/build && tar x)
	touch configure-stamp

build: build-stamp

build-stamp: configure-stamp
	dh_testdir

	# Add here commands to compile the package.
	# The 'clean' here is intentional - files are copied about during
	# this stage
	cd debian/build && \
	  $(LINUX32) make -f Makefile EFS_VER="$(EFS_VER)" clean all
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

        # Add here commands to clean up after the build process.
	rm -rf debian/build
	dh_clean

install: build 
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	cd debian/build && $(LINUX32) make -f Makefile
	$(DIRINSTALL) -m 755 $(PLUGINSDIR)
	$(INSTALL) -m 755 $(DEB_BUILD_DIR)/src/nagios_hpilo_engine $(PLUGINSDIR)
	$(INSTALL) -m 755 $(DEB_BUILD_DIR)/scripts/nagios_hpilo_cfg_generator $(PLUGINSDIR)
	$(INSTALL) -m 755 $(DEB_BUILD_DIR)/scripts/nagios_hpilo_traps $(PLUGINSDIR)
	$(INSTALL) -m 755 $(DEB_BUILD_DIR)/scripts/hpiLO_nagios_config $(PLUGINSDIR)

	## Cleanup permissions
	#find $(RPM_BUILD_ROOT) -type d ! -path "lib" -exec chmod 755 {} \;
	#find $(RPM_BUILD_ROOT) -type f ! -path "lib" -exec chmod 644 {} \;

# Build architecture-independent files here.
binary-indep: build install

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
#       dh_install
#       dh_installmenu
	dh_installdebconf
	dh_installlogrotate
#       dh_installemacsen
#       dh_installpam
#       dh_installmime
#       dh_installcron
#       dh_installinfo
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#       dh_perl
#       dh_python
	dh_makeshlibs
#	cp sh/$(pkg).sh debian/$(pkg).init
#	dh_installinit sh/$(pkg).sh
	dh_installdeb
	dh_shlibdeps -L libgcc_s
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure

